<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>МОЗ Генератор случайных чисел</title>
</head>
<body>
    <div>
        <video src="/media/moz.mp4" muted="muted" loop="loop" autoplay="autoplay"></video>
        <button id="start-button">Остановить</button>
    </div>

    <script src="/main.js"></script>
</body>
</html>